body {
    background-color: rgb(51, 153, 102);
    color: lightgray;
    text-align: center;
    vertical-align: middle;
    font-family: "REM-Regular";
    font-size: 25px;
}

.bunny {
    color: lightgray;
    text-align: left;
    font-size: 25px;
    margin-left: .5%;
    margin-bottom: -2px;
}

.left-div {
    border: 2px outset white;
    border-style: solid;
    background-color: rgb(100, 160, 102);
    margin-left: .5%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    --padding-bottom: 30%;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.link {
    margin-bottom: 10px;
    color: white;
}

.title {
    margin-right: 25%;
    margin-left: 25%;
}
